.video-card {
  align-items: center;
  height: 88px;

  & h6 {
    margin: 0;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & div p {
    font-size: 12px;
    margin: 0;
    opacity: 0.7;
  }
}

@media screen and (max-width: 1080px) {
  .video-card {
    display: flex;
    flex-direction: row;
  }
}