@import 'settings/index';
@import 'utilities/index';
@import 'components/index';
@import 'layouts/index';
@import 'views/index';

// reset css
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// app css
.app {
  background-color: $background-color-app;
  font-family: Tahoma, Verdana, sans-serif;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 7px;

}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #deb253;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c78b0a;
}