header {
  height: $header-height;
  color: $font-color-base;
  border-bottom: 1px solid #333;

  & div {
    display: flex;

    & img.logo {
      height: $header-height;
      margin-right: 24px;
    }

    & .my-navbar-pc {
      align-items: center;

      button+button {
        margin: 24px;
      }
    }
  }

  & button {
    background-color: #deb253;
    padding: 8px 32px;
    border-radius: 50px;
    border: none;

    &:hover {
      opacity: 0.8;
    }
  }

  & .my-navbar-mb {
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    color: #333;
    display: none;
    z-index: 2;
    animation: slideToLeft 0.5s ease forwards;

    & .close-icon {
      position: absolute;
      top: 8px;
      right: 8px;
    }

    & ul {
      list-style-type: none;
      margin-top: 48px;

      & li {
        font-size: 24px;
        border-bottom: 1px solid #ccc;
      }

    }
  }

  & .cover-layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    z-index: 1;
  }

  & .menu-mb {
    display: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  header {

    & div {

      & .my-navbar-pc {
        display: none;
      }
    }

    & button {
      display: none;
    }

    & .my-navbar-mb {
      display: block;
    }

    & .cover-layer {
      display: block;
      opacity: 0.8;
    }

    & .menu-mb {
      display: block;
    }
  }
}

@keyframes slideToLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideToRight {

  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }


}