.search-box {
  position: fixed;
  z-index: 100;

  & .cover-layer {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.8;

  }

  & .search-view {
    position: fixed;
    color: black;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 550px;
    background-color: rgb(226, 226, 226);
    z-index: 101;
    transform: translate(-50%, -50%);

    flex-direction: column;

    & .form-search {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;

      & input {
        padding-left: 16px;
        outline: none;
        height: 32px;
        margin-right: 8px;
        min-width: 300px;
        border-radius: 100px;
        border: 1px solid #ccc;
      }

      & .search-icon {
        position: absolute;
        left: 50%;
        transform: translateX(112px);
        color: #333;
        cursor: pointer;
      }
    }

    & .list-search {
      display: block;
      flex-grow: 1;
    }
  }

}

@media screen and (max-width: 767px) {

  .search-box {
    & .search-view {
      width: 80%;
    }
  }


}